$background-color: rgb(67, 66, 67);
$background-color-amount: #40005d;
$border-color-amount: rgb(143, 121, 153);

.expenseItem {
  background-color: $background-color;
  margin: 1rem 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .description {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    h2 {
      font-size: 1rem;
      margin: 0 1rem;
    }

    .amount {
      font-size: 1rem;
      font-weight: bold;
      background-color: $background-color-amount;
      border: 3px solid $border-color-amount;
      padding: 0.5rem;
      border-radius: 12px;
    }
  }
}

@media (max-width: 580px) {
  .description {
    flex-direction: column;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;

    h2 {
      flex: 1;
    }
  }
}
