$backgroundColor: #c3b4f3;
$borderColor: #313131;
$fillBackgroundColor: #4826b9;
$labelColor: #000000;

.bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .inner {
    height: 100%;
    width: 100%;
    border: 1px solid $borderColor;
    border-radius: 12px;
    background-color: $backgroundColor;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .fill {
      background-color: $fillBackgroundColor;
      width: 100%;
      transition: all 0.3s ease-out;
    }
  }
  
  .label {
    font-weight: bold;
    font-size: 0.5rem;
    text-align: center;
    color: $labelColor;
  }
}
