$background-color: #a892ee;
$box-shadow-color: rgba(0, 0, 0, 0.25);

.newExpense {
  background-color: $background-color;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px $box-shadow-color;
}
